html{
     scroll-behavior: smooth;
}

.glass {
     background: rgba(255, 255, 255, 0.3);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: rgb(0, 149, 255);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #00327e;
}